body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Times New Roman', Times, serif;
}

.header {
  max-width: 100%;
  background-color: #302f2f;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.relogio {
  margin-left: 2%;
  width: 250px;
  padding: 100px 75px;
  background-color: #f0f0f0;
  border: 1px solid rgb(15, 15, 15);
  border-radius: 15px;

  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

 .cronometro {
  width: 250px;
  text-align: center;
  padding: 138px 80px;

  background-color: #f0f0f0;
  border: 1px solid rgb(15, 15, 15);
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
}

.App-cron div h1 span {
  color: rgba(241, 21, 21, 0.7)
}
 .temporizador{
  width: 250px;
  text-align: center;
  padding: 22px 80px;
  background-color: #f0f0f0;
  border: 1px solid rgb(15, 15, 15);
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 15px;
  margin-left: 2%;
}

.App-temp div form p {
  font-size: 17px;
}


.btn-cron {
  background-color: rgba(243, 13, 13, 0.5);
  font-size: 16px;
  font-weight: bold;
  color: rgb(243, 11, 11);
  padding: 5%;
  margin-left: 5%;
  border: none;
  border-radius: 5px;
}

.btn-temp {
  color: #0a0a0a;
  width: 90%;
  font-size: 15px;
  border: 15px;
  font-weight: bold;
  border-radius: 5px;
  padding: 3%;
}

.select-timezone {
  width: 55%;
  background-color: rgba(253, 8, 8, 0.4);
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: rgb(7, 7, 7);
  border-radius: 6px;
  padding: 4%;
}

.input-number {
  width: 90px;
  margin-left: 5%;
  padding: 5%;
  background-color: rgba(248, 3, 3, 0.5);
  border: 1px;
  border-radius: 10px;
  color: rgb(5, 5, 5);
  font-size: 13px;
  font-weight: bold;
}
